.nav {
    display: flex;
    align-items: center
}

.header__menu-button {
    display: flex;
    margin-left: auto;
    fill: $menu-button-color;
    background-color: transparent;
    border: none;
    width: 34px;
    height: 20px;
}

@media screen and (max-width: 1337px) {
    .nav{
        margin-bottom: 56px;
    }
    .logo {
        font-size: 24px;
    }

    .nav__links {
        display: none;
    }

    .nav__button{
        display: none;
    }
}

@media screen and (min-width: 1338px) {

    .header__menu-button{
        display: none;
    }

    .logo{
        font-size: 36px;
    }

    .nav{
        margin-bottom: 55px;
         
        &__links{
        display: flex;
        margin-left: 236px;
        margin-right: 121px;
        align-items: center;
        font-size: 20px;
        &>li>a{
            color: $accent;
        }

        &>li:not(:last-of-type){
            margin-right: 50px;
        }
    }
        
        &__button{
        padding:20px 100px;
        border-width: 2px;
        border-radius: $border-radius;
    } 
    }

    
}
