$background-color: rgba(255, 255, 255, 1);
$second-background:rgba(245, 245, 245, 1);
$accent:rgba(38, 50, 56, 1);
$text-color:rgba(143, 149, 165, 1);
$main-heading-color:rgba(0, 0, 0, 1);
$about-us-numbers-color:rgba(42, 50, 70, 1);
$logo-second-color:rgba(147, 147, 147, 1);
$menu-button-color:rgba(57, 81, 94, 1);
$price-limit-color:rgba(84, 98, 105, 1);
$hero-heading-font-size-mobile:24px;
$hero-heading-font-size-tablet:36px;
$hero-heading-font-size-desktop:64px;
$hero-heading-line-height-mobile:1.5;
$hero-heading-line-height-tablet:1.25;
$hero-heading-line-height-desktop:1.25;
$hero-text-font-size-mobile:14px;
$hero-text-font-size-tablet:16px;
$hero-text-font-size-desktop:24px;
$heading-font-weight:600;
$text-font-weight:400;
$buttons-font-weight:500;
$heading-font-size-mobile:24px;
$heading-font-size-tablet:30px;
$heading-font-size-desktop:48px;
$heading-line-height-mobile:3.33;
$heading-line-height-tablet:2.67;
$heading-line-height-desktop:1.5;
$second-heading-font-size-mobile:18px;
$second-heading-font-size-tablet:20px;
$second-heading-font-size-desktop:30px;
$second-heading-line-height-mobile:4.44;
$second-heading-line-height-tablet:4;
$second-heading-line-height-desktop:1.5;
$text-line-height:1.5;
$border-radius:5px;
